#voluntary {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 5%;
    flex-direction: column;
    padding: 0 5%;
}

.container-title-voluntary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3.section-subtitle-voluntary {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-top: 8%;
    color: var(--color-neutral-1);
}

.section-subtitle-voluntary span {
    font-size: 2.5rem;
    color: var(--color-primary-6);
}

.container-title-voluntary p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    font-size: 1.3rem;
    text-align: center;
}


.info-voluntary {
    display: flex;
    flex-direction: column;
    background-color: var(--color-neutral-0);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-primary-2);
    flex: 1;
    max-width: 600px;  /* Define a largura máxima para a caixa de texto */
    box-sizing: border-box;  /* Inclui o padding na largura total */
}

.img-voluntary {
    width: 40%;
    height: auto;
    border-radius: 20px;
    max-width: 400px;  /* Define a largura máxima para a imagem */
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.voluntary-declaration {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 600;
    border: 2px dashed #684614;
    cursor: pointer;
}

.btn-default:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

#voluntary-content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.form-voluntary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; 
    background-color: var(--color-neutral-0);
    padding: 40px;
    border-radius: 50px;
    border: 2px dashed var(--color-neutral-1);
    background-color: var(--color-primary-2);
    width: 48%;
    height: 50%;
}
.form-voluntary form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.form-voluntary label {
    font-size: 1rem;
    color: var(--color-neutral-1);
}

form {
    width: 100%;
    flex-grow: 1;
}


.forms input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 8%; /* Reduzido para diminuir o espaçamento */
    border: 1px dashed #684614;
    border-radius: 8px;
    background-color: var(--color-primary-1);
}

.form-declaration {
    width: 100%;
    margin-top: 10px; /* Reduzido para diminuir o espaçamento */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-check-label {
    margin-top: 3%;
}

.form-declaration .btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 30px;
    padding: 10px 100px;
    font-weight: 600;
    border: 2px dashed #684614;
    cursor: pointer;
    width: auto;
    margin-top: 10px; /* Reduzido para diminuir o espaçamento */
}

.form-declaration .btn-default:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
